body {
    background-color:#EFF1F2 !important;
}
#title {
    margin-top:3rem;
    margin-bottom:1rem;
}
form {
    display:flex;
    justify-content:center;
}
article {
    border:1px solid #ccc;
    font-size:1.125rem;
    display:flex;
    justify-content:space-between;
    padding:0.5rem;
    border-radius:1rem;
    margin-top:1rem;
}
#inputForm {
    position:relative;
}
#task {
    padding:15px;

}
#add {
    position:absolute;
    right:2%;
    top:15%;
}
